<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
<body>
    <!--Top section of the webpage-->
    <div id="bg">
        <!--Navigation-->
        <div class="wrapper">
        <nav class="navbar position-top navbar-expand-lg navbar-dark bg-transparent pr-3" id="navbar">
            <a class="navbar-brand px-3" href="#">
                <img src="{% static 'images/logoTransp.png' %}" alt="Logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">News</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Instruments
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">15cm Coronagraph</a>
                    <a class="dropdown-item" href="#">30cm Chromosphere Telescope</a>
                    <a class="dropdown-item" href="#">Cameras</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Research
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Projects</a>
                    <a class="dropdown-item" href="#">Publications</a>
                    <a class="dropdown-item" href="#">Presentations</a>
                    <a class="dropdown-item" href="#">Data Archive</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Education
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Gallery</a>
                      <a class="dropdown-item" href="#">Popular presentations</a>
                      <a class="dropdown-item" href="#">Education</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Contact
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Staff</a>
                      <a class="dropdown-item" href="#">Address</a>
                    </div>
                  </li>
              </ul>
              <!--<form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>-->
            </div>
          </nav>
        </div>
        <div id="heading" class="container-flex">
            <h1 id="title">Solar observations in Bulgaria</h1>
            <h5 class="subtitle font-weight-bold">Institute of astronomony and national astronomical observatory - Bulgarian Academy of Sciences</h5>    
        </div>
    </div>

    <!--Publications section-->
    <div class="container-flex mx-5 px-5 py-5 my-2" id="publications">
      <div class="jumbotron p-4 p-md-5 rounded text-white bg-dark overflow-hidden" id="main-publication">
        <div class="row">
            <div class="col-md-6 px-0">
            <h1 class="display-4 font-weight-bold">Latest News</h1>
            <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
            <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
          </div>
          <div class="col-md-6" style="position: relative; overflow: hidden;">
            <img src="{% static 'images/leadingNews.png' %}" id="main_bg_img">
          </div>
      </div>
    </div>
    
      <div class="row mb-2">
        <div class="col-md-6">
          <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2">Key Word</strong>
              <h3 class="mb-0 font-weight-bold" >Featured post</h3>
              <div class="mb-1 text-muted">Nov 12</div>
              <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="stretched-link">Continue reading</a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2">Previous News</strong>
              <h3 class="mb-0 font-weight-bold" >Post title</h3>
              <div class="mb-1 text-muted">Nov 11</div>
              <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="stretched-link">Continue reading</a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Almanac and coordinates section-->
    <div id="section2">
        <div class="container py-4" id="section2-info">
            <div class="row">
                <div class="col-6">
                    <p><i class="far fa-clock"></i></p>
                    <h4>Almanac</h4>
                    <hr>
                    <a href="https://time.is/Rozhen,_Smolyan" id="time_is_link" rel="nofollow">Time in Rozhen:</a>
                        <span id="Rozhen__Smolyan_z729"></span>
                    <script src="//widget.time.is/en.js"></script>
                    <script>
                        time_is_widget.init({Rozhen__Smolyan_z729:{template:"TIME<br>DATE<br>SUN", date_format:"dayname, monthname dnum, year, week", sun_format:"Sunrise: srhour:srminute Sunset: sshour:ssminute<br>Day length: dlhoursh dlminutesm", coords:"41.6666700,24.7333300"}});
                    </script>
                </div>
                <div class="col-6">
                    <p><i class="far fa-compass"></i></p>
                    <h4 class="card-title">Coordinates</h4>
                    <hr>
                    <p>41°41'48''N  24°44'18''E</p>
                    <p> Elevation: 1745</p>
                </div>
            </div>
            
        </div>
    </div>
    <!--Cards with images-->
    <div class="container margin-auto" id="section3">
      <div class="card-deck">
        <div class="card">
          <div class="card-header">Image of the Day</div>
          <div class="card-body" id="card-img">
          </div>
          <div class="card-footer">
            <small class="text-muted">
              <script> document.write(new Date().toLocaleDateString()); </script>
              </small>
          </div>
        </div>
        <div class="card">
          <div class="card-header">Latest Project</div>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. Lor</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>

        <div class="card">
          <div class="card-header">Webcam</div>
          <div class="card-body" id="card-webcam">
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
      <!--About Us section-->
      <div class="container-flex pt-5">
        <div class="row text-justify">
            <div class="col-md-8 col-xs-12 pt-5 px-5">
                <h1>About us</h1>
                <hr>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati explicabo quibusdam alias similique ex eaque molestias. Fuga tempore sapiente fugiat quam, perferendis cum harum, odit iusto, cumque consequuntur natus? Sapiente.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni delectus, qui modi, laboriosam, molestiae doloremque nihil aliquid ad excepturi ut distinctio iusto odio veritatis? Quisquam modi corrupti ipsam eius aspernatur.
              </p>
              
            </div>
            <div class="col-md-4 col-xs-12">
              <img src="{% static 'images/mountains.png' %}" id="drawing">
            </div>
          </div>
    </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>  
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>
<footer>
  <div class="container padding">
    <div class="row padding">
      <div class="col-xs-12 col-sm-6 col-md-4 text-center">
        <div id="map">
          <iframe width='100%' height='100%' id='mapcanvas' src='https://maps.google.com/maps?q=Bulgarian%20National%20Astronomical%20Observatory&amp;t=&amp;z=11&amp;ie=UTF8&amp;iwloc=&amp;output=embed' frameborder='0' scrolling='no' marginheight='0' marginwidth='0'><div class="zxos8_gm">Not sure if you have <a href="https://www.vouchersort.co.uk/hush-uk.com">found it but hotukdeals</a> is sometimes not the best place</div><div style='overflow:hidden;'><div id='gmap_canvas' style='height:100%;width:100%;'></div></div><div><small>Powered by <a href="https://www.embedgooglemap.co.uk">Embed Google Map</a></small></div></iframe>
        </div>
        
      </div>
    <div class="col-xs-12 col-sm-6 col-md-4 text-left pt-1">
      <a href="#"><img src="{% static 'images/logoTransp.png' %}" alt="Logo"></a>
        <h5>Solar Observations in Bulgaria</h5>
        <hr>
        <h5>Address 1</h5>
        <p>NAO Rozhen</p>
        <p>PO Box 136</p>
        <p>4700 Smolyan</p>
        <p>Bulgaria</p>
        <h6>Phone: <a id="phone" href="tel:+359 879 603456">+359 879 603456</a></h6>
    </div>
    <div class="col-sm-12 col-md-4 text-right pt-3">
      <h5>Address 2</h5>
      <p>72 Tsarigradsko Chaussee Blvd.</p>
      <p>1784 Sofia</p>
      <p>Bulgaria</p>
      <p>Email: <a id="phone" href="mailto:office@astro.bas.b">office@astro.bas.b</a></p>
      <h6>Phone: <a id="phone" href="tel:+359 2 9741910">+359 2 9741910</a></h6>
      <hr>
      <a href="http://nao-rozhen.org/"><img id="NAO" src="{% static 'images/nao.png' %}" width="100" height="58" alt="NAO Rozhen"></a>
    <a href="http://www.bas.bg/"><img id="BAN" src="{% static 'images/ban.png' %}" width="105" height="57" alt="BAS Bulgaria"></a>   
  </div>
  </div>
</div>
</footer>
</html>