body, html {
  height: 100%;
  overflow-x: hidden;
  font-family: 'Montserrat';
}

body {
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
}

body #bg {
  background-image: url("/images/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

body #bg #heading {
  display: block;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
  text-align: center;
  color: #ffffff;
  position: relative;
  top: 30%;
}

body #bg #heading h1 {
  font-size: 4vw;
  margin-bottom: 0;
}

body #bg #heading .subtitle {
  opacity: 0.8;
  font-size: 1.3vw;
}

body #section2 {
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("/images/rozhen.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 80%;
  opacity: 0.8;
}

body #section2 .container {
  z-index: 1;
  background-color: #000;
  opacity: 0.5;
  text-align: center;
  color: #ffffff;
}

body .fa-clock, body .fa-compass {
  font-size: 4em;
  color: #ff9f80;
}

body #publications h1, body #publications h3 {
  color: #ff9f80;
}

body #publications #main_bg_img {
  display: inline-block;
  opacity: 0.5;
  position: absolute;
  right: 0%;
  bottom: 0%;
  height: 300px;
}

body #section3 hr {
  width: 60%;
  border-top: 2px solid #ff9f80;
  margin-left: 0;
}

body #section3 .card {
  width: 25rem;
  margin-top: 50px;
  -webkit-box-shadow: 0 4px 2px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 2px 1px rgba(0, 0, 0, 0.1);
}

body #section3 .card-body {
  min-height: 250px;
}

body #section3 .card-img-top {
  max-height: 100px;
  height: auto;
  width: auto;
}

body #section3 .card-header {
  color: #ff9f80;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  padding: 15px;
}

body #section3 #card-img {
  background-image: url("/images/try.jpg");
  background-size: cover;
  margin: 10px;
}

body #section3 #card-webcam {
  background-image: url("http://195.96.236.3:3007/images/snapshot.jpg");
  background-size: cover;
  margin: 10px;
}

body #section3 #drawing {
  height: 450px;
}

.navbar {
  padding: 0.8rem;
  overflow: visible !important;
}

.navbar .navbar-nav li {
  padding-right: 20px;
}

.navbar .nav-link {
  font-size: 1.1em !important;
  font-weight: bold;
}

.navbar .dropdown-menu {
  background-color: transparent;
  border: none;
}

.navbar .dropdown-menu .dropdown-item {
  color: #ffffff;
}

.navbar .dropdown-menu .dropdown-item:hover {
  background-color: transparent;
  color: #baba;
}

footer {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 25%;
  background-color: #343a40;
  color: #ffffff;
  padding: 50px;
}

footer #phone {
  color: #ff9f80;
}

footer #map {
  width: 100%;
  height: 250px;
  border: solid 1px white;
  padding: 3px;
}

footer p {
  margin: 0;
}

footer a {
  color: white;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */